html {
  overflow: hidden;
  -ms-overflow-style: none;
} /* remove page scrolling */
body::-webkit-scrollbar { 
  display: none; 
} /* hidde scroll */
body {
  position: relative;
  background: url('assets/img/home/background.png') repeat center center;
  background-size: auto;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  z-index: -1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} /* pixelate the body and add background */
@font-face {
  font-family: 'uto-font';
  src: url('assets/fonts/harutofun.ttf') format('truetype');
} /* set my font */


/** BODY **/

/* patreon_ad_button */
.patreon_ad {
  z-index: 10;
  position: fixed;
  display: grid;
  place-items: center;
  width: 300px;
  height: 152px;
  top: 530px;
  left: 75vw;
  transition: content .1s top .1s left .1s;
}

.patreon_ad :active {
  transition: scale .1s;
  scale: 0.9;
}

.itchio-lic {
  top: 70px;
  right: 82vw;
  z-index: 15;
  position: absolute;
}

.itchio-ssmdemo {
  top: 240px;
  right: 83vw;
  z-index: 15;
  position: absolute;
}


/* bluesky */
.bluesky_div {
  z-index: 10;
  position: fixed;
  display: grid;
  place-items: center;
  top: 70px;
  left: 75vw;
}

/* bluesky embed */
.bluesky_embed {
  z-index: 15;
  top: 30px;
  left: -1px;
  width: 290px;
  max-height: 250px;
  overflow: hidden; /* hide the overflow */
  position: absolute;
}
.bluesky_embed > * {
  image-rendering: pixelated;
  -webkit-font-smoothing: antialiased;
  font-family: 'uto-font', serif;
  font-size: 10px;
}

/* bluesky background */
.bluesky_tab {
  left: 0px;
  top: 0px;
  width: 320px;
  height: 338px;
  position: absolute;
}
.bluesky_tab_bg {
  z-index: -10;
  left: 10px;
  top: -10px;
  width: 320px;
  height: 338px;
  position: absolute;
}
.bluesky_embed img.w-14 {
  width: 0rem;
}

/* steam button */
.steam_button {
  z-index: 17;
  height: 70px;
  width: 70px;
  top: 115px;
  left: -1px;
  position: absolute;
}
.steam_button :hover {
  cursor: pointer;
  content: url('assets/img/home/steam_animated.gif');
}

/* itchio button */
.itchio_button {
  z-index: 17;
  height: 70px;
  width: 70px;
  top: 195px;
  left: 5px;
  position: absolute;
}
.itchio_button :hover {
  cursor: pointer;
  content: url('assets/img/home/itchio_animated.gif');
}

/* spotify app */
.spotify_app {
  border-radius:12px;
  top: 370px;
  left: 76vw;
  z-index: 15;
  position: absolute;
}




/* super spacemail thumbnail */
.spacemail {
  display: grid;
  place-items: center;
  width: 315px;
  height: 250px;
  top: 35vh;
  left: 41vw;
  position: absolute;
  z-index: 5;
  transition: content .1s top .1s left .1s;
}

.spacemail :active {
  transition: scale .1s;
  scale: 0.9;
}



/* hands parallax background */
.hands {
  position: fixed;
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
.hands_bottom{
  position: absolute;
  z-index: 1;
}
.hands_middle{
  position: absolute ;
  z-index: 2;
}
.hands_top{
  position: absolute ;
  z-index: 3;
}


.reserved_rights_nav {
  position: fixed;
  text-align: right;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  font-family: 'uto-font';
  font-size: 10px;
  z-index: 9999;
}

/* Patreon */
.patreon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 18px;
  border-radius: 50px;
  text-decoration: none;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  z-index: 9999;
  transition: all 0.2s ease;
}
.patreon:hover {
  background-color: #FF424D;
  transform: scale(1.05);
}